{% extends 'base.html' %}
{% block content %}
<div class="content">
    <h4>Matrículas y Pagos Extra</h4>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Estudiante</th>
            <th>Precio de Matrícula</th>
            <th>Curso</th>
            <th>Lugar de Matrícula</th>
            <th>Pago Extra</th>
            <th>Fecha de Matrícula</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for measurement in measurement_list %}
        <tr>
            <td>{{ measurement.variable.name }}</td>
            <td>{{ measurement.value }}</td>
            <td>{{ measurement.unit }}</td>
            <td>{{ measurement.place }}</td>
            <td>{{ measurement.extra_payment }}</td>
            <td>{{ measurement.dateTime }}</td>
          
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'measurement_create' %}" class="btn btn-success">Agregar Matrícula</a>
</div>
{% endblock %}
