<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ofipensiones</title>
</head>
<body>
    <!-- Comprobación de autenticación de usuario -->
    {% if request.session.usuario_id %}
        <p>Bienvenido, {{ request.session.usuario_id }}!</p>
        <a href="{% url 'logout' %}">Cerrar Sesión</a>
    {% else %}
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <label for="correo">Email:</label>
            <input type="email" name="correo" required>
            
            <label for="contrasena">Contraseña:</label>
            <input type="password" name="contrasena" required>
            
            <button type="submit">Iniciar Sesión</button>
        </form>
        <a href="{% url 'usuarioCreate' %}">Registrarse</a>
    {% endif %}
    
    <!-- Aquí se renderizará el contenido específico de cada página -->
    {% block content %}
    {% endblock %}
</body>
</html>
