name: Deploy to Google Cloud

on:
  push:
    branches:
      - master

env:
  PROJECT_ID: arquisoft-453601
  SERVICE_NAME: app-medica
  REGION: us-central1

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # Autenticación con Google Cloud
      - id: 'auth'
        uses: 'google-github-actions/auth@v1'
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      # Configurar Google Cloud SDK
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v1

      # Cloud Build para construir y desplegar la imagen
      - name: Cloud Build
        run: |
          gcloud builds submit --config=cloudbuild.yaml

      # Instalar Cloud SQL Proxy manualmente
      - name: Install Cloud SQL Proxy
        run: |
          # Descargar el proxy
          wget https://storage.googleapis.com/cloud-sql-connectors/cloud-sql-proxy/v2.7.0/cloud-sql-proxy.linux.amd64 -O cloud-sql-proxy
          # Hacerlo ejecutable
          chmod +x cloud-sql-proxy
          # Crear archivo de credenciales
          echo '${{ secrets.GCP_SA_KEY }}' > sa-key.json
          # Iniciar el proxy en segundo plano
          ./cloud-sql-proxy --credentials-file=sa-key.json arquisoft-453601:${{ env.REGION }}:django-db-instance &
          # Esperar a que el proxy inicie
          sleep 10

      # Instalar dependencias de Python
      - name: Install Python dependencies
        run: |
          pip install -r requirements.txt

      # Verificar que el proxy está funcionando
      - name: Check if proxy is running
        run: |
          netstat -tuln | grep 5432

      # Aplicar migraciones
      - name: Make and apply migrations
        env:
          DJANGO_SETTINGS_MODULE: monitoring.settings_prod
        run: |
          chmod +x scripts/run_migrations.sh  # Asegúrate de que la ruta sea correcta
          ./scripts/run_migrations.sh
